##
## EPITECH PROJECT, 2024
## Zappy
## File description:
## Global ignore file
##

# Ignore build artifacts
obj/
zappy_server
zappy_server_tests
zappy_ai
zappy_ai_tests
zappy_gui
zappy_gui_tests

# Ignore temporary files
*tmp*
*~
\#*#
.#*
